@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .smooth {
        @apply transform-gpu duration-150;
    }
}

@layer base {
    ul,
    ol {
        list-style: revert;
    }
}
* {
    scroll-behavior: smooth;
}

.hide {
    display: none;
}

.nav-items > a {
    @apply text-sm px-4 py-2 rounded-lg bg-honey text-neutral-800 font-semibold font-serif;
}
body > section > div {
    @apply max-w-6xl mx-auto;
}

.primary-button {
    @apply px-4 py-2 rounded-lg bg-honey hover:bg-[#509926] max-w-max transform duration-300 ease-in-out;
}
.left-item {
    transform: translateX(-100%); /* Start off-screen to the left */
}
.right-item {
    transform: translateX(100%); /* Start off-screen to the right */
}
.selectize-input {
    background-image: none !important;
    box-shadow: none !important;
    @apply !bg-gray-900 text-white rounded-lg !border-none outline-none;
}

.selectize-control {
    @apply !bg-gray-900 text-white rounded-lg;
}

.selectize-dropdown.single {
    @apply !border-none !mt-0;
}

.selectize-dropdown .selected {
    @apply !bg-amber-500 text-amber-900;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.sacroll {
    @apply scrollbar scrollbar-w-1 scrollbar-thumb-yellow-500 scrollbar-thumb-rounded-xl;
}
