@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .smooth {
        @apply transform-gpu duration-150;
    }
}


.range {
    font-family: 'Orbitron', monospace;

    &:before {
        --width: calc(var(--p) * 1%);

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #c79f00;
        z-index: 0;
        animation: load .5s forwards linear, glitch 2s infinite linear;
    }

    &:after {
        counter-reset: progress var(--p);
        content: counter(progress) '%';
        color: #fff;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &__label {
        transform: skew(-30deg) translateY(-100%) translateX(50px);
        line-height: 3;
    }
}

@keyframes load {
    to {
        width: var(--width);
    }
}

@keyframes glitch {

    0%,
    5% {
        transform: translate(0, 0);
    }

    1% {
        transform: translate(-5%, -10%);
    }

    2% {
        transform: translate(10%, 30%);
    }

    3% {
        transform: translate(-43%, 10%);
    }

    4% {
        transform: translate(2%, -23%);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.sacroll {
    @apply scrollbar scrollbar-w-1 scrollbar-thumb-yellow-500 scrollbar-thumb-rounded-xl;
}

